html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    overflow: hidden;
    /* pointer-events: none; ensures click-through in renderer too */
}

#app {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* arbitrary grid resolution */
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  width: 100vw;
}

.region {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;
    align-items: stretch;
}

.region-close {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 22px;
  height: 22px;

  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: white;

  font-size: 14px;
  line-height: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.region-close:hover {
  background: rgba(0, 0, 0, 0.85);
}

.app-font-color {
    color: #00FF7F;
}

.app-font-family {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace;
}

.app-background {
    background: rgba(32, 32, 32, 0.55);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgb(63, 63, 63);
    box-shadow: 0 6px 22px rgba(0,0,0,0.15);
}